$open-sans-bold: 'Open Sans Bold';
$open-sans: 'Open Sans';
$open-sans-extra-bold: 'Open Sans Extrabold';
$open-sans-semi-bold: 'Open Sans Semibold';
$white: #ffffff;
$link: #124b76;

.bg-1{
  background: #03c3f2 url("../img/bg-1.jpg")no-repeat top center;
  min-height: 2830px;
  padding-top: 40px;
  padding-bottom: 50px;
  .construktor{
    font-family: $open-sans-extra-bold;
    text-transform: uppercase;
    color: $white;
    font-size: 29px;
    span{
      font-family: $open-sans;
      font-size: 29px;
    }
  }
  .magnit-konstr{
    font-family: $open-sans;
    font-size: 15px;
    color: $link;
    text-transform: uppercase;
  }
  .zakazat{
    display: inline-block;
    padding: 15px;
    padding-left: 110px;
    padding-right: 110px;
    font-family: $open-sans-bold;
    color: $link;
    font-size: 26px;
    text-transform: uppercase;
    background: #ffc80a;
    border: none;
    border-radius: 7px;

  }
  .phone-head{
    font-family: $open-sans-bold;
    font-size: 30px;
    color: $white;
    text-align: right;
  }
  .btn-lg{
    font-family: $open-sans;
    font-size: 16px;
    color: $link;
    text-transform: uppercase;
    margin-top: 0px;
    display: block;
    background: none;
    border: none;
    float: right;
    padding-right: 0;
  }
  h1{
    font-family: $open-sans-bold;
    font-size: 45px;
    padding-top: 372px;
    color: $white;
    text-transform: uppercase;
    span{
      font-family: $open-sans;

    }
  }
  h2{
    font-family: $open-sans-bold;
    font-size: 46px;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 344px;
  }
  p{
    font-family: $open-sans;
    font-size: 25px;
    color: $white;
  }
  .about-konstr{
    font-family: $open-sans;
    font-size: 26px;
    color: $link;
    padding-top: 73px;
  }
  .konstructor{
    width: 100%;
  }
  #owl-demo{
    margin-top: 50px;
  }
  .mor-info{
    text-align: center;
    font-family: $open-sans;
    font-size: 26px;
    color: $link;
    text-transform: none;
    text-decoration: underline;
    margin: auto;
    display: block;
  }
  .cenu{
    margin-top: 285px;
    text-align: right;
    .old-cena{
      font-family: $open-sans-bold;
      font-size: 26px;
      color: $link;
    }
    .cena-skidka{
      font-size: 26px;
      color: $link;
      font-family: $open-sans-bold;
   span{
     font-size: 46px;
     color: $white;
     font-family: $open-sans-bold;
   }
    }
    .zakaz-2{
      text-align: left;
    }
  }
}



.bg-2{
  background: url("../img/bg-2.jpg")no-repeat center;
  min-height: 3214px;
  padding-bottom: 50px;
  h2{
    font-family: $open-sans-bold;
    font-size: 46px;
    color: $link;
    text-transform: uppercase;
    text-align: center;
    padding-top: 225px;
  }
  .konstructor{
    width: 100%;
  }
  p{
    font-family: $open-sans;
    font-size: 25px;
    color: $link;
    text-align: center;
  }
  #owl-demo2{
    margin-top: 117px;
    margin-bottom: 70px;
  }
  .about-konstr{
    font-family: $open-sans;
    font-size: 26px;
    color: $link;
    padding-top: 73px;
  }
  iframe{
    width: 100%;
  }
  h3{
    text-align: center;
    color: $white;
    font-family: $open-sans-bold;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 100px;
    margin-bottom: 80px;
  }
  .work{
    img{
      vertical-align: middle;
      margin-right: 10px;
      display: table-cell;
    }
  }
  .cenu{
    margin-top: 246px;
    text-align: right;
    .old-cena{
      font-family: $open-sans-bold;
      font-size: 26px;
      color: $link;
    }
    .cena-skidka{
      font-size: 26px;
      color: $link;
      font-family: $open-sans-bold;
      span{
        font-size: 46px;
        color: $white;
        font-family: $open-sans-bold;
      }
    }
    .zakaz-2{
      text-align: left;
      .zakazat{
        display: inline-block;
        padding: 15px;
        padding-left: 110px;
        padding-right: 110px;
        font-family: $open-sans-bold;
        color: $white;
        font-size: 26px;
        text-transform: uppercase;
        background: #03c3f2;
        border: none;
        border-radius: 7px;

      }
    }
  }
}




.bg-3{
  background: url("../img/bg-3.jpg")no-repeat center;
  min-height: 1014px;
  padding-top: 95px;
  .uspey-zakazat{
    font-family: $open-sans;
    color: $white;
    font-size: 49px;
    text-transform: uppercase;
  }
  .v-podarok{
    font-family: $open-sans-bold;
    color: $white;
    font-size: 49px;
    text-transform: uppercase;
  }
  .podarok{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 59px;
  }
  .action{
    text-align: right;
    font-family: $open-sans;
    color: $white;
    font-size: 25px;
    width: 30%;
    float: left;
  }
  .timer{
    text-align: right;
    font-family: $open-sans;
    color: $white;
    font-size: 25px;
    width: 30%;
    float: left;
  }

  .zakazat{
    display: inline-block;
    padding: 15px;
    padding-left: 110px;
    padding-right: 110px;
    font-family: $open-sans-bold;
    color: $link;
    font-size: 26px;
    text-transform: uppercase;
    background: #ffc80a;
    border: none;
    border-radius: 7px;
    margin-top: 17px;
    margin-left: 74px;
  }


  .time{
    display: block;
    margin: 0 auto;
    padding: 20px 0 50px;
    position: relative;
    text-align: center;
    width: 49%;
  }

  .time *{vertical-align: top;}

  .time ins,
  .time .clock{
    position: relative;
    top: 10px;
    width: 40px;
    height: 55px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background: transparent url(../img/sprites.png) no-repeat -260px -154px;
  }

  .time .clock{margin-right: 7px;}

  .time ins{width: 10px;}

  .time ins{background-position: -300px -154px;}

  .time .etitle{
    position: absolute;
    width: 110px;
    text-align: center;
    left: 50%;
    margin-left: -47px;
    top: 55px;
    line-height: 30px;
  }

  .etitle-1{font-size: 1.6em;}

  .etitle-2{
    font-size: 1.37em;
    padding-top: .1em;
  }

  .etitle-3{
    font-size: 1.12em;
    padding-top: .2em;
  }

  .etitle-4{
    font-size: .87em;
    padding-top: .3em;
  }

  .c-block{
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 18px 0 3px;
    padding: 4px 0 40px 3px;
    position: relative;
    background: transparent url(../img/sprites.png) no-repeat -260px 0;
  }

  .c-block:before{
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 31px;
    background: transparent url(../img/sprites.png) no-repeat 100% -77px;
    height: 77px;
  }

  .bl-inner{
    position: relative;
    margin-right: -10px;
    height: 48px;
    background: transparent url(../img/sprites.png) no-repeat -5px -48px;
  }

  .bl-inner span{
    display: none;
    font-size: 46px;
    color: #fff;
    line-height: 46px;
    margin-left: 2px;
  }

  .bl-inner:before{
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 3px;
    background: transparent url(../img/sprites.png) no-repeat -122px -48px;
    height: 48px;
  }

  .c-block-1{width: 20px;}
  .c-block-2{width: 45px;}
  .c-block-3{width: 70px;}










}




.bg-4{
  background: url("../img/bg-4.png")no-repeat center;
  min-height: 1007px;
  z-index: 2;
  position: relative;
  h2{
    font-family: $open-sans-bold;
    font-size: 56px;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 196px;
    margin-bottom: 70px;
  }
  h4{
    font-family: $open-sans-semi-bold;
    font-size: 20px;
    color: #ffc80a;
    text-transform: uppercase;
  }
  .media-body{
    font-family: $open-sans;
    font-size: 17px;
    color: #03c3f2;
  }
  .media{
    margin-top: 80px;
  }
}


.bg-5{
  background: url("../img/bg-5.jpg")no-repeat center;
  min-height: 1472px;
  margin-top: -45px;

  z-index: 1;
  h2{
    font-family: $open-sans-bold;
    font-size: 46px;
    color: $white;
    text-transform: uppercase;
    text-align: left;

  }
  h3{
    font-family: $open-sans-semi-bold;
    font-size: 17px;
    color: $white;
    text-transform: uppercase;
  }
  p{
    font-family: $open-sans;
    font-size: 18px;
    color: $link;
    span{
      font-family: $open-sans-bold;
    }
  }
  .dost{
    margin-top: 229px;
  }
  .dost-2{
    margin-top: 129px;
    img{
      text-align: center;
    }
  }
  .oplata-2{
    padding-top: 87px;
  }
}



.bg-6{
  background: #124b76;
  padding-bottom: 50px;
  h2{
    font-family: $open-sans-bold;
    font-size: 46px;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 133px;
    margin-bottom: 70px;
  }
  .otzuv-cont-1{
    font-family: $open-sans;
    font-size: 18px;
    color: $link;
    background: url("../img/otzuv-1.png")no-repeat;
    width: 261px;
    height: 269px;
    padding: 39px;
    margin: 0 auto;
  }
  .name{
    font-family: $open-sans;
    font-size: 28px;
    color: $white;
    text-align: center;
  }
  img{
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
  .status{
    font-family: $open-sans;
    font-size: 18px;
    color: #03c3f2;
    text-align: center;
  }
  .otzuv-cont-2{
    font-family: $open-sans;
    font-size: 18px;
    color: $link;
    background: url("../img/otzuv-2.png")no-repeat;
    width: 261px;
    height: 399px;
    padding: 39px;
    margin: 0 auto;
  }
  .otzuv-cont-3{
    font-family: $open-sans;
    font-size: 18px;
    color: $link;
    background: url("../img/otzuv-3.png")no-repeat;
    width: 261px;
    height: 269px;
    padding: 39px;
    margin: 0 auto;
  }
}


.bg-7{
  background: #fac000;
  padding-bottom: 100px;
  h2{
    font-family: $open-sans-bold;
    font-size: 46px;
    color: #124b76;
    text-transform: uppercase;
    text-align: center;
    padding-top: 133px;
    margin-bottom: 70px;
  }
  .etap-1{
   background: url("../img/etap-1.png")no-repeat;
    height: 117px;
    width: 368px;
    font-family: $open-sans;
    font-size: 17px;
    color: #5a5a5a;
    text-transform: uppercase;
    text-align: left;
    padding-left: 84px;
    padding-top: 18px;
    line-height: 27px;
  }
  .etap-2{
    background: url("../img/etap-2.png")no-repeat;
    height: 117px;
    width: 374px;
    font-family: $open-sans;
    font-size: 17px;
    color: #5a5a5a;
    text-transform: uppercase;
    text-align: left;
    padding-left: 84px;
    padding-top: 18px;
    line-height: 27px;
  }
  .etap-3{
    background: url("../img/etap-3.png")no-repeat;
    height: 117px;
    width: 257px;
    font-family: $open-sans;
    font-size: 17px;
    color: #5a5a5a;
    text-transform: uppercase;
    text-align: left;
    padding-left: 84px;
    padding-top: 18px;
    line-height: 27px;
  }
  .etap-4{
    background: url("../img/etap-4.png")no-repeat;
    height: 124px;
    width: 346px;
    font-family: $open-sans;
    font-size: 17px;
    color: #5a5a5a;
    text-transform: uppercase;
    text-align: left;
    padding-left: 84px;
    padding-top: 18px;
    line-height: 27px;
  }
  .etap-5{
    background: url("../img/etap-5.png")no-repeat;
    height: 164px;
    width: 402px;
    font-family: $open-sans;
    font-size: 17px;
    color: #5a5a5a;
    text-transform: uppercase;
    text-align: left;
    padding-left: 84px;
    padding-top: 18px;
    line-height: 27px;
  }
}



.bg-8{
  background: url("../img/bg-8.jpg")no-repeat center;
  min-height: 938px;
  h2{
    font-family: $open-sans-bold;
    font-size: 46px;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 111px;
    margin-bottom: 70px;
  }
  form{
    text-align: center;
     input{
       background: $white;
       border-radius: 3px;
       border:1px solid #000000;
       padding: 10px;
       margin-right: 10px;
       height: 58px;
       font-family: $open-sans;
       font-size: 17px;
       text-align: center;
       color: #5a5a5a;
       &::-webkit-input-placeholder {color:#5a5a5a; font: 18px $open-sans;}
       ::-moz-placeholder          {color:#5a5a5a; font: 18px $open-sans;}/* Firefox 19+ */
       :-moz-placeholder           {color:#5a5a5a; font: 18px $open-sans;}/* Firefox 18- */
       :-ms-input-placeholder      {color:#5a5a5a; font: 18px $open-sans;}
     }
    textarea{
      width: 62%;
      height: 140px;
      background: $white;
      border-radius: 3px;
      border:1px solid #124b76;
      padding: 10px;
      margin-top: 20px;
      text-align: center;
      color: #5a5a5a;
      &::-webkit-input-placeholder {color:#5a5a5a; font: 18px $open-sans;}
      ::-moz-placeholder          {color:#5a5a5a; font: 18px $open-sans;}/* Firefox 19+ */
      :-moz-placeholder           {color:#5a5a5a; font: 18px $open-sans;}/* Firefox 18- */
      :-ms-input-placeholder      {color:#5a5a5a; font: 18px $open-sans;}
    }
    button{
      display: inline-block;
      padding: 15px;
      padding-left: 110px;
      padding-right: 110px;
      font-family: $open-sans-bold;
      color: $link;
      font-size: 26px;
      text-transform: uppercase;
      background: #ffc80a;
      border: none;
      border-radius: 7px;
      margin-top: 20px;
    }
  }
  .perezvonim{
    font-family: $open-sans;
    font-size: 17px;
    text-align: center;
    color: $white;
    margin-top: 30px;
    img{
      margin-right: 10px;
    }
  }
  .construktor{
    font-family: $open-sans-extra-bold;
    text-transform: uppercase;
    color: $white;
    font-size: 29px;
    span{
      font-family: $open-sans;
      font-size: 29px;
    }
  }
  .magnit-konstr{
    font-family: $open-sans;
    font-size: 15px;
    color: $link;
    text-transform: uppercase;
  }
  .zakazat{
    display: inline-block;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: $open-sans-bold;
    color: $link;
    font-size: 26px;
    text-transform: uppercase;
    background: #ffc80a;
    border: none;
    border-radius: 7px;

  }
  .phone-head{
    font-family: $open-sans-bold;
    font-size: 30px;
    color: $white;
    text-align: right;
  }
  .btn-lg{
    font-family: $open-sans;
    font-size: 16px;
    color: $link;
    text-transform: uppercase;
    margin-top: 0px;
    display: block;
    background: none;
    border: none;
    float: right;
    padding-right: 0;
  }
  .contact-footer{
    margin-top: 157px;
  }
}




.zvonok{
  .modal-content{
    background: #03c3f2;
    .modal-header{
      border-bottom: none;
    }
  }

  h4{
    font-family: $open-sans-bold;
    font-size: 30px;
    color: $white;
    text-align: center;
    text-transform: uppercase;
  }
  .modal-body{
    form{
      input{
        width: 100%;
        background: $white;
        border-radius: 3px;
        border:1px solid #000000;
        padding: 10px;
      margin-bottom: 20px;
        height: 58px;
        font-family: $open-sans;
        font-size: 17px;
        text-align: left;
        color: #5a5a5a;
        &::-webkit-input-placeholder {color:#5a5a5a; font: 18px $open-sans;}
        ::-moz-placeholder          {color:#5a5a5a; font: 18px $open-sans;}/* Firefox 19+ */
        :-moz-placeholder           {color:#5a5a5a; font: 18px $open-sans;}/* Firefox 18- */
        :-ms-input-placeholder      {color:#5a5a5a; font: 18px $open-sans;}
      }
      button{



        text-transform: uppercase;
        margin-top: 0px;
        display: block;
        background: #ffc80a;


        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
        font-family: $open-sans-bold;
        color: $link;
        font-size: 26px;

      margin: auto;
        border: none;
        border-radius: 7px;
      }
    }
  }
}



.oforml-zakaza{
  .modal-content{
    background: #03c3f2;
    .modal-header{
      border-bottom: none;
    }
  }
  h4{
    font-family: $open-sans-bold;
    font-size: 30px;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h3{
    font-family: $open-sans;
    font-size: 20px;
    color: $white;
    text-align: left;
    padding-left: 132px;
    text-transform: uppercase;
    margin-top: 0;
  }
  form{
    text-align: center;
    input{
      padding: 7px;
      border-radius: 7px;
      border:1px solid #124b76;
      margin-bottom: 10px;
    }
    .name{
      width: 61%;

      height: 56px;
    }
    .phone{
      width: 30%;
      height: 56px;
      margin-right: 10px;

    }
  .addr{
    float: left;
  }
    .predoplata{
      float: right;
      font-family: $open-sans;
      font-size: 12px;
      margin-right: 109px;
      color: $white;
      span{
        font-family: $open-sans-bold;
      }
    }

    .vubor{
      width: 63%;
      background: #ffffff;
      border-radius: 3px;
      border: 1px solid #000000;
      padding: 10px;
      margin-bottom: 20px;
      height: 43px;
      font-family: "Open Sans";
      font-size: 17px;
      text-align: left;
      color: #5a5a5a;
      margin-top: 10px;
      display: inline-block;
      .caret{
        background: url("../img/select.png")no-repeat;
        width: 42px;

        margin-top: -8px;
        border: none;
        height: 37px;
        margin-left: 97px;
        vertical-align: middle;
        /* border-top: 4px dashed; */
        border-top: 4px solid \9;
        /* border-right: 4px solid transparent; */
        /* border-left: 4px solid transparent; */
      }
    }
    .dropdown-menu{
      top: 80%;
      left: 119px;
    }
    button{
      text-transform: uppercase;
      margin-top: 0px;
      display: block;
      background: #ffc80a;


      padding: 15px;
      padding-left: 30px;
      padding-right: 30px;
      font-family: $open-sans-bold;
      color: $link;
      font-size: 26px;

      margin: auto;
      border: none;
      border-radius: 7px;
    }
  }
}




@media (max-width: 990px){
  .bg-2 {
    background: url(../img/bg-2.jpg) repeat center;
    min-height: 3214px;
  }
  .bg-2 .cenu .zakaz-2
  {
    text-align: center;
  }
  .bg-4 {
    background: #124b76;
padding-bottom: 50px;
    z-index: 2;
    position: relative;
  }
  .bg-5 {
    background: url(../img/bg-5.jpg) repeat center;
    min-height: 1472px;
    margin-top: -45px;
    z-index: 1;
  }
}

@media (max-width: 767px){
  .bg-1 .cenu .zakaz-2,
  .bg-2 .cenu .zakaz-2
  {
    text-align: center;
  }
  .bg-1 .cenu .cena-skidka {
    font-size: 23px;
    color: #124b76;
    font-family: "Open Sans Bold";
  }
  .bg-2 {
    background: url(../img/bg-2.jpg) repeat center;
    min-height: 3214px;
  }
  .bg-4 {
    background: #124b76;
    padding-bottom: 50px;
    z-index: 2;
    position: relative;
  }
  .bg-5 {
    background: url(../img/bg-5.jpg) repeat center;
    min-height: 1472px;
    margin-top: -45px;
    z-index: 1;
  }
  .bg-8 form input,
  .bg-8 form textarea{
    width: 100%;
    margin-bottom: 10px;
  }
  .bg-8 {
    background: #C0C1EF;
    min-height: 938px;
    padding-bottom: 50px;
  }
  .bg-8 .contact-footer {
    margin-top: 61px;
  }
}

@media (max-width: 320px){
  .bg-1 .cenu .cena-skidka
  {
    font-size: 23px;
    color: #124b76;
    font-family: "Open Sans Bold";
  }
  .bg-3 .podarok{
    width: 100%;
  }
  .bg-4 {
    background: #124b76;
    padding-bottom: 50px;
    z-index: 2;
    position: relative;
  }
  .bg-5 {
    background: url(../img/bg-5.jpg) repeat center;
    min-height: 1472px;
    margin-top: -45px;
    z-index: 1;
  }
  .bg-8 form input{
    width: 100%;
  }
}















